<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Messenger | @ViewData["Title"]</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>
    <body>
        <main>
            <div class="main">
                @RenderSection("Alert", false)
                <div class="d-flex align-items-center">
                    <div class="leftWrapper">
                        <div class="left">
                            <img src="/favicon.ico" alt="favicon" class="favicon" />
                            <h1 class="title">Tụ họp mọi lúc, mọi nơi</h1>
                            <p class="desc">
                                Với Messenger, việc kết nối với những người mình yêu mến thật đơn giản và thú vị.
                            </p>
                            @RenderBody()
                        </div>

                    </div>
                    <div class="right">
                        <img class="w-100" src="/imgs/loginbg.png" alt="bg" />
                    </div>
                </div>
            </div>
        </main>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
