@{
    ViewData["title"] = "Đăng ký";
}

@if (Convert.ToBoolean(TempData["userExisted"]))
{
    @section Alert {
        <div class="alertWrapper">
            <div style="max-width: 50%" class="alert alert-danger d-flex align-items-center gap-2" role="alert">
                <span class="flex-grow-1">ID đăng nhập đã tồn tại!</span>
                <button onclick="closeAlert()" class="btn btn-close"></button>
            </div>
        </div>
    }
}

<div>
    <form action="/signup" method="post" class="form signupForm">
        <input name="userId" class="input" id="userIdField" type="text" placeholder="ID đăng nhập" required minLength=8 />
        <div class="d-flex gap-1 ms-1 mb-1">
            <img class="info" alt="info" src="/imgs/info.png" />
            <p class="mt-1 info-text">
                ID là chuỗi tối thiểu 8 ký tự gồm: a-z, A-Z, 0-9 , giúp bạn đăng nhập trong lần
                tới.
            </p>
        </div>
        <input minLength=5
               type="text"
               placeholder="Tên người dùng"
               required
               class="mb-3 input"
               name="username"
               />
        <input name="password" class="input" id="passwordField" type="password" placeholder="Mật khẩu" required minLength=8 />
        <p class="mt-1 info-text text-danger formAlert mt-2" style="display: none; font-weight: 500;"></p>
        <div class="mt-4">
            <button class="loginBtn" type="submit">
                Tạo tài khoản
            </button>
            <div class="mt-2">
                Bạn đã có tài khoản?
                <a href="/login" class="signupBtn">
                    Đăng nhập
                </a>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    <script src="/js/signup.js"></script>
}